<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://femcobdidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6d94fbd2-8182-4943-a9b3-53d236df5469/resourceGroups/rg-scxpeicmdev/providers/Microsoft.Web/sites/FEMCOBDIDEV</ResourceId>
    <PublishUrl>https://femcobdidev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>